@media screen and (min-width: 1920px) {
    .Textbericht {
      font-size: 40px;
    }
    .ueberschrift{
        font-size: 150px;
    }
    .Text_einleitung{
        font-size: 55px;
    }
    .Textbericht_Überschrift{
        font-size: 40px;
    }
  }

  @media screen and (min-width: 501px) {
    .Textbericht{
      font-size: 20px
    }
    .ueberschrift{
        font-size: 60px;
    }
    .Text_einleitung{
        font-size: 25px;
    }
    .Textbericht_Überschrift{
        font-size: 20px;
    }
  }


  @media screen and (max-width: 500px) {
    .Textbericht{
      font-size: 20px
    }
    .ueberschrift{
        font-size: 65px;
    }
    .Text_einleitung{
        font-size: 25px;
    }
    .Textbericht_Überschrift{
        font-size: 20px;
    }
  }

body{
    background-color: black;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Nunito', sans-serif;
}

hr{
    border: 2px solid #FC328D;
}

.ueberschrift{
    text-align: center;
    color: white;
}


.Textbericht_Überschrift{
    color: #FC328D;
    margin-top: 2%;
}

.Textbericht_Überschrift::selection{
    background-color: #FC328D;
    color: black;
    
}

.Text_einleitung{
  color: white;
  text-align: center;

}

.Textbericht{
    color: white;
    max-width: 75%;
    margin-top: 2%;


}


.Container1{
    display: block;
    margin-left: 2.5%;
    margin-bottom: 2%;
}


.BildLink{
    color: #FC328D;
}