@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Poppins:ital,wght@1,300&display=swap');

/* Eigenes CSS*/
body{
    background-color: black;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Nunito', sans-serif;
}

/* Anordnung des Containers */
.ContainerSetup{
    margin-left: 22%;
    margin-top: 6%;
}

/* Bilder */
.BilderItem{
    margin-right: 3%;
}

/* Reihencontainer */
.rowcontainer{
    padding-top: 2%;
    align-items: center;
}


/* NavbarItems */
.WebLinks{
    transition: all;
    justify-content: right;
}