/* Eigenes CSS*/
body{
    background-image: url(/Images/Galerie_Background.gif);
    background-color: rgb(2, 2, 2);
    background-blend-mode: darken;
}

/* Anordnung des Containers */
.ContainerSetup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5% 10% 0% 10%;
}

/* Bilder */
.GallerieBox{  
    width: 300px;
    height: auto;
    flex-basis: 20%;
    margin-left: 3px;
    margin-bottom: 3px;
    align-self: center;
}   



/* NavbarItems */
.WebLinks{
    transition: all;
    justify-content: right;
}

hr{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #FC328D;
}


.UnterÜberschrift{
    text-align: center;
    color: white;
}

