@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Poppins:ital,wght@1,300&display=swap');

::selection{
    background-color: #FC328D;
}

::-webkit-scrollbar{
    border-radius: 45px;
    border: 3px solid;
    width: auto;
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #FC328D;
    border-radius: 45px;
}

body{
    background-color: black;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Nunito', sans-serif;
}
