.ueberschrift{
    color: white;
    display: block;
    text-align: center;
    animation: TextAnimation forwards 2.5s;
}

@media screen and (max-width: 500px)
{
    .ueberschrift{
        font-size: 60px;
    }

    .Text{
        text-align: center;
        font-size: 20px;
        margin: auto;
        position: relative;
        animation: TextAnimation forwards 2.5s;
        display: block;
    }
    
    .iframeClass{
        max-height: 350px;
        margin-left: 3%; 
        margin-right: 3%; 
        display: block;
    }

}

@media screen and (min-width: 501px){
    .ueberschrift{
        font-size: 100px;
        animation: TextAnimation forwards 2.5s;
    }

    .Text{
        font-size: 30px;
    }
    
    .iframeClass{
        width: auto;
        height: auto;
        margin-left: 15%; 
        margin-right: 15%; 
        display: block;
    }
}