@keyframes TextAnimation{
    0%   
    {
        top: -400px;
        color: black;
    }
    100% {
        top: 0px;
        color: white;
    }
}


.ueberschrift{
    color: white;
    display: block;
    text-align: center;
    animation: TextAnimation forwards 2.5s;
}


@media screen and (max-width: 500px)
{
    .ueberschrift{
        font-size: 60px;
        animation: TextAnimation forwards 2.5s;
    }

    .Text{
        text-align: center;
        font-size: 20px;
        margin: auto;
        position: relative;
        animation: TextAnimation forwards 2.5s;
        display: block;
    }

    .List > ul > li{
        list-style-type: square;
        font-size: 15px;
        color: white;
        text-align: center;
    }

    .List{
        text-align: center;
        width: 30%;
        display: block;
        margin-left: 35%;
        margin-left: 35%;
    }


    .div_Text{
        display: block;
        margin-left: 15%;
        margin-right: 15%;
        background-color: #FC328D;
    }
    
    .iframeClass{
        max-height: 350px;
        margin-left: 3%; 
        margin-right: 3%; 
        display: block;
    }

    .Video{
        text-align: center;
        border: 2px solid #FC328D;
        margin: 5% 5% 5%;
    }
    
    .Video > video{
        max-width: 100%;
        max-height: auto;
    }
}

@media screen and (min-width: 501px){
    .ueberschrift{
        font-size: 100px;
        animation: TextAnimation forwards 2.5s;
    }

    .Text{
        font-size: 25px;
        color: white;
        padding: 5px;
        text-align: center;
    }

    .List > ul > li{
        list-style-type: square;
        font-size: 25px;
        color: white;
        text-align: center;
    }

    .List{
        text-align: center;
        width: 30%;
        display: block;
        margin-left: 35%;
        margin-left: 35%;
    }

    .div_Text{
        display: block;
        margin-left: 15%;
        margin-right: 15%;
        background-color: #FC328D;
    }

    .iframeClass{
        margin-left: 15%; 
        margin-right: 15%; 
        display: block;
    }

    .Video{
        text-align: center;
        border: 2px solid #FC328D;
        margin: 5% 15% 15%;
    }
    
    .Video > video{
        max-width: 100%;
        max-height: auto;
    }
}