@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Poppins:ital,wght@1,300&display=swap');



::selection{
    background-color: #FC328D;
}

body{
    background-color: black;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Nunito', sans-serif;
}

#FlexDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4%;
}

.ueberschrift{
    font-size: 100px;
    flex-basis: 100%;
    color: white;
    text-align: center;
}


p{
  color: white;
  font-size: 25px;
  float: left;
}


.bild{
    width: 200px;
    height: 200px;
}

.TableDiv{
    overflow: auto;
}

td{
    border: 1px solid #FC328D;
    border-collapse: collapse;
}




.textAufgabe{
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}


p > a{
    color: #FC328D;
}

.TextUntenDiv{
    text-align: center;
}
