#FlexDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4%;
}

.ueberschrift{
    font-size: 100px;
    flex-basis: 100%;
    color: white;
    text-align: center;
}


p{
  color: white;
  font-size: 25px;
  float: left;
}


.bild{
    width: 200px;
    height: auto;
    scale:50%;
}

.TableDiv{
    overflow: auto;
}

td{
    border: 1px solid #FC328D;
    border-collapse: collapse;
}




.textAufgabe{
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}


p > a{
    color: #FC328D;
}

.TextUntenDiv{
    text-align: center;
}
