@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Poppins:ital,wght@1,300&display=swap');



::selection{
    background-color: #FC328D;
}

body{
    background-color: black;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Nunito', sans-serif;
}

.ueberschrift{
    text-align: center;
    font-size: 100px;
    color: white;
}


.Text{
  color: white;
  text-align: left;
  font-size: 30px;
  padding-left: 20%;
  padding-right: 20%;
}


.bild{
    width: 50%;
    height: 50%;
}

td{
    background-color: #000000;
    width: 20%;
}

td{
    border: 1px solid #FC328D;
    border-collapse: collapse;
}


.textAufgabe{
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 5px;

}


.ueberschriftUeberMich{
    text-align: left;
    font-size: 30px;
    color: white;
}

.textUeberMich{
    text-align: center;
    font-size: 30px;
    color: white;
}

.link{
    color: #FC328D;
}
